.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #0a101b !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.form-control {
    height: 45px;
    line-height: 45px;
    border: 1px solid var(--iq-border-dark) !important;
    font-size: 14px;
    border-radius: 5px;
    background: var(--iq-dark-card) !important;
    color: var(--iq-dark-body-text) !important;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
